@import "../../global.scss";

.edit {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;

    h3 {
        font-size: 18px;
        color: #1877f2;
        margin-top: 5px;
        align-self: center;
        letter-spacing: 0.4px;
    }

    .editProfileWrapper {
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .editTop {
            gap: 10px;
            display: flex;
            margin-top: 30px;
            flex-direction: column;

            .editTopText {
                gap: 20px;
                display: flex;
                margin-bottom: 10px;
                justify-content: space-between;

                .editImgBtn {
                    font-size: 13px;
                    border: none;
                    color: #1877f2;
                    cursor: pointer;
                    padding: 5px 15px;
                    border-radius: 3px;
                    background-color: #fff;
                    border: 1px solid #1877f2;
                }

            }

            .editProfileImg {
                width: 220px;
                height: 220px;
                object-fit: cover;
                border-radius: 50%;

            }
            .editCoverImg {
                width: 100%;
                height: 280px;
                object-fit: cover;

            }
        }

        .editBottom {
            gap: 10px;
            display: flex;
            margin-top: 10px;
            flex-direction: column;

            .editBottomWrapper {
                gap: 8px;
                width: 100%;
                display: flex;

                .editBottomItem {
                    flex: 1;
                    gap: 3px;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 14px;
                        color: #282828;
                    }
                    input {
                        padding: 8px;
                        color: grey;
                        border-radius: 3px;
                        border: 0.5px solid gray;
                    }
                    textarea {
                        padding: 8px;
                        color: grey;
                        border-radius: 3px;
                        border: 0.5px solid gray;
                    }

                }
            }

            .updateBtn {
                width: 315px;
                padding: 8px;
                display: flex;
                color: white;
                border: none;
                margin-top: 10px;
                font-size: 15px;
                cursor: pointer;
                border-radius: 3px;
                align-items: center;
                align-self: center;
                justify-content: center;
                background-color: gray;

            }
        }

        .coverBottom{
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-top: -10px;
            .updateBtn2 {
                width: 315px;
                padding: 8px;
                display: flex;
                color: white;
                border: none;
                margin-top: 10px;
                font-size: 15px;
                cursor: pointer;
                border-radius: 3px;
                align-items: center;
                align-self: center;
                letter-spacing: 0.4px;
                justify-content: center;
                background-color: #1877f2;

            }
        }

    }

}